{% extends "base.html" %}
{% load static %}

{% block title %}
    Monthly Challenges
{% endblock %}
{% block static_css %}
    <link rel="stylesheet" href=" {% static "challenges/challenges.css" %} ">
    <link rel="stylesheet" href=" {% static "challenges/includes/header.css" %} ">
{% endblock %}

{% block content %}

{% include "./includes/header.html" %}

    <ul>
        {% for mon in month %}
            <li><b><a href="{% url "int_month" mon %}">{{mon|title}}</a></b></li>
        {% endfor %}
    </ul>
{% endblock %}